<!DOCTYPE html>
<html>
<head>
<title>Cmpe 352 Website</title>
</head>
<body>

<h1>Welcome, {{personfirst}} {{personlast}}</h1>
<p>Lets create your post!</p>

<form method="POST" action="../savePost/">
    {% csrf_token %}
<label>Title of your post:</label>
<input name="title" placeholder="your title goes here" required></input>
<br>
<label>Description of your post</label>
<input name="description" placeholder="your description goes here" required></input>

<button type="submit" name="post" value="create">Create Post</button>
</form>

</body>
</html>